@charset "utf-8";
*{
    margin:0;
    padding:0;
    word-wrap: break-word;
    word-break: break-all;
  /*当前点击元素颜色*/
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  /*阻止屏幕旋转时字体自动调整*/
  -webkit-text-size-adjust:none;
  box-sizing: border-box;
    }

body{
    width:100%;
    min-width:768px;
    font-family: "微软雅黑", "黑体","宋体", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
    }
 ul,li,dt,dl,dd,ol{
 	list-style:none;
 }
 a{
 	text-decoration:none;
 }
 /*初始化标签的样式定义*/
h1
, h2
, h3
, h4
, h5
, h6
, .h1
, .h2
, .h3
, .h4
, .h5
, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color:red;
  text-decoration: underline;
}
img {
  vertical-align: middle;
  border: 0;
}
/*初始化标签的样式定义*/
h1
, h2
, h3
, h4
, h5
, h6
, .h1
, .h2
, .h3
, .h4
, .h5
, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small
, h2 small
, h3 small
, h4 small
, h5 small
, h6 small
, .h1 small
, .h2 small
, .h3 small
, .h4 small
, .h5 small
, .h6 small
, h1 .small
, h2 .small
, h3 .small
, h4 .small
, h5 .small
, h6 .small
, .h1 .small
, .h2 .small
, .h3 .small
, .h4 .small
, .h5 .small
, .h6 .small {
  font-weight: normal;
  line-height: 1;  
}
h1
, .h1
, h2
, .h2
, h3
, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small
, .h1 small
, h2 small
, .h2 small
, h3 small
, .h3 small
, h1 .small
, .h1 .small
, h2 .small
, .h2 .small
, h3 .small
, .h3 .small {
  font-size: 65%;
  margin-left: 10px;
}
h4
, .h4
, h5
, .h5
, h6
, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small
, .h4 small
, h5 small
, .h5 small
, h6 small
, .h6 small
, h4 .small
, .h4 .small
, h5 .small
, .h5 .small
, h6 .small
, .h6 .small {
  font-size: 75%;
  margin-left: 5px;
}
h1
, .h1 {
  font-size: 36px;
}
h2
, .h2 {
  font-size: 30px;
}
h3
, .h3 {
  font-size: 24px;
}
h4
, .h4 {
  font-size: 18px;
}
h5
, .h5 {
  font-size: 14px;
}
h6
, .h6 {
  font-size: 12px;
}
/* p { 新闻页修改
  margin: 0 0 10px;
} */
p {
  margin: 0 0 5px;
}
.small-atext:hover{color:red;}
.footer h6 {
color: #999;
font-size: 12px;
margin-top: 10px;
}
.footer a{
	color:black;
}
.footer a:hover{
	color:red;
	text-decoration: none;
}
i{
	font-style:normal;
}
	@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:22px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    
    }
    
.btn i {
        display: block;
        font-style: normal;
        width: 0;
        height: 0;
        position: absolute;
        top: 3px;
        right: 3px;
        border-top: 4px solid white;
        border-right: 4px solid white;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent; }
.btn:hover{background:#000;text-decoration: none;cursor:pointer;}
